.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  color: white;
  height: 60%;
  justify-content: flex-start;
}

.activeContainer {
  display: flex;
  align-items: flex-start;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}
.groupInfo{
  text-transform:capitalize;
}