.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #090925;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100vh;
  width: 90vw;
}

@media (min-width: 320px) and (max-width: 700px) {
  .outerContainer{
    flex-direction: column-reverse;
  }
}